<form>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group ">
            <label>Title</label>
            <input class="form-control" type="text" />
        </div>
    </div>
    <div>
        <div class="form-group col-md-3">
            <label>Length in minutes</label>
            <input class="form-control" type="number" placeholder="eg. 30 min" />
        </div>
    </div>
    
    <div class="col-md-3">
        <button type="button" class="btn btn-block">Save</button>
        <button type="button" class="btn btn-block btn-info">Update</button>
    </div>
    </div>
</form>