
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.title}}</td> 
            <td>{{task.minutes}}</td>
            <td><span class="btn btn-sm bg-info" (click)="editTask(task)">Edit</span><span class="btn btn-sm bg-danger" (click)="deleteTask(task.id)">Delete</span></td>
        </tr>

    </tbody>
</table>