<table class="table table-striped">
    <thead>
        <tr>
            <th>Start</th>
            <th>Title</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
            <tr><td>09:00AM</td> <td>Writing Fast Tests Against Enterprise Rails</td> <td>60min</td></tr>
            <tr><td>10:00AM</td> <td>Overdoing it in Python </td> <td>45min</td></tr>
            <tr><td>10:45AM</td> <td>Lua for the Masses</td> <td>30min </td></tr>
            <tr><td>11:15AM</td> <td>Ruby Errors from Mismatched Gem Versions</td> <td>45min</td></tr>
            <tr><td>12:00PM</td> <td>Lunch </td> <td>---</td></tr>
            <tr><td>01:00PM</td> <td>Ruby on Rails: Why We Should Move On</td> <td>60min</td></tr>
            <tr><td>02:00PM</td> <td>Common Ruby Errors </td> <td>45min</td></tr>
            <tr><td>02:45PM</td> <td>Pair Programming vs Noise</td> <td>45min</td></tr>
            <tr><td>03:30PM</td> <td>Programming in the Boondocks of Seattle</td> <td>30min</td></tr>
            <tr><td>04:00PM</td> <td>Ruby vs. Clojure for Back-End Development</td> <td>30min</td></tr>
            <tr><td>04:30PM</td> <td>User Interface CSS in Rails Apps</td> <td>30min</td></tr>
            <tr><td>05:00PM</td> <td>Networking Event</td> <td>---</td></tr>
    </tbody>
</table>